input, 
span {
	display: block;
}

.especial {
	display: inline-block;
}

.esquerda,
.direita {
	display: inline-block;
	border:	5px solid #422a89;
	height: 600px;
	width: 45%;
	background: lavender;
}

.esquerda {
	float: left;
}

.direita {
	float: right;
}