/* cv.css */

body {
    font-family: "Century Gothic", Arial, sans-serif;
}

a {
    color: #422a89;
}

.titulo {
    font-variant: small-caps;
    font-weight: bold;
    word-spacing: 3px;
    letter-spacing: 1.5px;
    text-decoration: underline solid #4d2475;
    background: #c1c1f0;
    padding: 5px;
    padding-left: 10px;
}

.dados {
    background: lavender;
    padding: 10px;
    padding-left: 35px
}

.destaque {
    font-style: italic;
    font-weight: bold;
}

#links {
    list-style-image: url("../img/bone.png");
}

#Nome {
    background: #422a89;
    padding: 15px;
    padding-left: 25px;
    color: white;
    text-decoration: underline solid white;
    text-transform: uppercase;
}

#profile-pic {
    border: 8px groove rebeccapurple;
    height: 300px;
}